In [1]:
import pandas as pd
import numpy as np

In [25]:
car = pd.read_csv('quikr_car.csv')

In [26]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [27]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [28]:
car.shape

(892, 6)

In [29]:
car=car[car['year'].str.isnumeric()]

In [30]:
car['year']=car['year'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
car=car[car['Price']!='Ask For Price']

In [32]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [33]:
car['kms_driven']=car['kms_driven'].str.split().str.get(0).str.replace(',','')

In [34]:
car=car[car['kms_driven'].str.isnumeric()]

In [35]:
car['kms_driven']=car['kms_driven'].astype(int)

In [39]:
car=car[~car['fuel_type'].isna()]

In [40]:
car['name']=car['name'].str.split().str.slice(start=0,stop=3).str.join(' ')

In [38]:
car['name']

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [41]:
car.head(5)

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6               Ford Figo      Ford  2012  175000       41000    Diesel

In [42]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.6+ KB

In [43]:
car.to_csv('Cleaned_Car_data.csv')

In [44]:
car.describe(include='all')

,name,company,year,Price,kms_driven,fuel_type
count,816,816,816.000000,8.160000e+02,816.000000,816
unique,254,25,NaN,NaN,NaN,3
top,Maruti Suzuki Swift,Maruti,NaN,NaN,NaN,Petrol
freq,51,221,NaN,NaN,NaN,428
mean,NaN,NaN,2012.444853,4.117176e+05,46275.531863,NaN
std,NaN,NaN,4.002992,4.751844e+05,34297.428044,NaN
min,NaN,NaN,1995.000000,3.000000e+04,0.000000,NaN
25%,NaN,NaN,2010.000000,1.750000e+05,27000.000000,NaN
50%,NaN,NaN,2013.000000,2.999990e+05,41000.000000,NaN
75%,NaN,NaN,2015.000000,4.912500e+05,56818.500000,NaN
max,NaN,NaN,2019.000000,8.500003e+06,400000.000000,NaN

In [45]:
car=car[car['Price']<6000000]

In [46]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [48]:
x=car[['name','company','year','kms_driven','fuel_type']]
y=car['Price']

In [49]:
x

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
3         Hyundai Grand i10   Hyundai  2014       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014       36000    Diesel
6                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
885          Tata Indica V2      Tata  2009       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009      132000    Petrol
888            Tata Zest XM      Tata  2018       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [50]:
y

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
883    270000
885    110000
886    300000
888    260000
889    390000
Name: Price, Length: 815, dtype: int64

In [51]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [52]:
from sklearn.linear_model import LinearRegression

In [53]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [57]:
ohe=OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [55]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

In [59]:
model=LinearRegression()

In [60]:
pipe=make_pipeline(column_trans,model)

In [61]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [62]:
y_pred=pipe.predict(x_test)

In [63]:
y_pred

array([ 358039.61560199,  685534.81504149,  507735.53121458,
        577583.88131426,  268260.63224038,  276278.58975348,
        240959.33197751,  524861.54013031,  539027.39610466,
        684937.49188282,  551324.31618994,  292498.93685256,
        240069.32950652, -100241.48348349,  343050.94885531,
        130248.54542108,  606859.48167005,  112549.63611456,
        464305.90833507,  169116.95491075,  151254.2901748 ,
        669558.34592977,  255823.02317651,  268003.56975748,
        379710.40634173,  186395.80395571,  315100.21495911,
        257927.33535394,  526076.70083497,  217164.39368277,
        410443.69928956,  233125.04596376,  469357.2125157 ,
        296932.28227748,  -17235.86385302,  633411.11215258,
        375336.49274231,  265766.08731421,  169795.64576326,
        485658.84095505,  124996.98389457,  100538.77076591,
        330965.38909686,  438644.94406469,  596189.02193577,
        145471.84561986,  400185.7660828 ,  586336.90266366,
        532882.69305137,  677166.0221025 ,  291448.69909385,
       1488572.53599139,  176405.91795811,  593217.98301198,
        451372.15281327,  239519.43630929,  525201.9466304 ,
        262092.1255288 ,  379710.40634173,  238540.00341629,
        235618.04745244,  329913.88050493, 1567336.18111227,
        500498.69685308,  372999.64972918,  230447.81394196,
        568997.24014584,  346908.6449869 ,  336411.83709605,
        133822.48183423,  494594.43728628,  940644.23717358,
        722212.87871163,  343560.37359785,  940900.46125077,
        261497.67065606,   88462.95290384,  221803.79212032,
        442165.83420671,  125696.72039124,  621742.49062004,
        357378.86154002,  524802.47063012,   32535.8004634 ,
        184397.44623164,   73499.46765785,  539705.08390156,
        752894.77343709,  245415.48601882,  562126.49153645,
        208182.60765127,  207713.77077647,  422007.42080586,
        222094.45674277,  499915.55215472, 1646047.96815372,
        581878.8559669 ,  719872.9523806 ,  311649.99871706,
        289646.18210057,  297182.94687651,  169150.09363841,
        224272.15829224,  769212.25610765,  429307.54702333,
        520467.87708846,  343560.37359785,  444858.6293829 ,
       1891858.80537309,  232928.69558943,  837586.90598666,
        348730.39689888,  155830.70859522,  603635.04576809,
       1646047.96815372,  422672.34486926,  864568.9732694 ,
        171705.26950441,   84933.13454577,  542359.01541282,
        311649.99871706,  135883.79916464,  465614.65878472,
         73810.5013868 ,  561092.79102912,  999455.15641302,
        217232.47498279,  666819.72427282,  249901.18146995,
        442165.83420671,  520467.87708846,  825244.1058531 ,
        521311.00983377,  369793.40616854,  -34940.65256922,
        138145.64438532,   64886.79985134,  204523.34740598,
        492194.12863512,  281479.26978879,  316289.28936546,
       1493074.50368737,  290936.18230519,  374213.29169822,
        617529.41491253,  332862.67706071,  218798.34488318,
        172763.78560913,   90242.59035968,  107043.57664315,
        225597.39416186,  343307.36549789,  273813.52024173,
        212062.762128  ,  634595.04595987,  330037.30311   ,
        256279.57153241,   32681.54500888,  232447.16090414,
        200538.40976608, 1647549.1608191 ,  350698.8557636 ,
        371713.62105647])

In [64]:
r2_score(y_test,y_pred)

0.6948286058507667

In [65]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [72]:
max_score = np.argmax(scores)

In [73]:
scores[np.argmax(scores)]

0.920087093218515

In [74]:
pipe.predict(pd.DataFrame(columns=X_test.columns,data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

array([400642.51767152])

In [75]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=max_score)
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.920087093218515

In [77]:
import pickle
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))